.montserrat-normal {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.resume__main {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 0 2rem;
  font-size: 12px;
}

.resume__header {
  text-align: center;
}

.resume__name {
  color: var(--brand-color-green);
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.resume__section-header {
  color: var(--brand-color-green);
  margin-bottom: 0;
  margin-top: 1rem;
}

.resume__company-info {
  display: flex;
  justify-content: space-between;
}

.resume__company {
  font-size: 1rem;
  color: var(--brand-color-red);
  margin-bottom: 0;
}

.resume__location {
  font-style: italic;
  margin-bottom: 0;
}

.resume__role-info,
.resume__project-info,
.resume__activity-info,
.resume__education-info {
  display: flex;
  justify-content: space-between;
}

.resume__role-info {
  margin-bottom: 0.5rem;
}

.resume__role-title {
  margin-top: 0;
  color: var(--brand-color-red);
  margin-bottom: 0;
}

.resume__role-dates {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.resume__responsibilities-list {
  margin-top: 0;
}

.resume__responsibility-item {
  break-inside: avoid-page;
}

.resume__responsibility-item--has-accomplishments {
  list-style: none;
  margin-left: -1rem;
}

:not(.resume__responsibility-item--has-accomplishments) > .resume__responsibility-item {
  margin-top: 0;
}

.resume__accomplishments-item {
  list-style: disc;
}

.resume__project-name,
.resume__activity-name,
.resume__education-name {
  font-weight: bold;
  color: var(--brand-color-red);
  margin-top: 1rem;
}

.resume__project-info {
  margin-bottom: 0.5rem;
}

.resume__project-url {
  margin-top: 1rem;
}

.resume__project-feature-list,
.resume__activity-accomplishments-list {
  margin-top: 0;
  margin-bottom: 0;
}

.resume__activity-dates,
.resume__education-dates {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resume__education-degree {
  margin-top: -1rem;
}

@media print {
  body {
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

  .resume__main {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .resume__company,
  .resume__role-title,
  .resume__project-name,
  .resume__activity-name,
  .resume__education-name {
    color: black;
    font-weight: bold;
  }

  .resume__main a,
  .resume__section-header,
  .resume__name {
    color: blue;
  }
}