:root {
  --brand-color-green: #00fa21;
  --brand-color-orange: #df6900;
  --brand-color-blue: #00cadf;
  --brand-color-red: #ff3228;
  --brand-color-grey: #9ba6a8;
  --brand-color-black: #001e21;
  --brand-color-white: #ffffff;
}

body {
  background-color: var(--brand-color-black);
  color: var(--brand-color-white);
  font-family: 'Oxygen Mono';
}

a {
  color: var(--brand-color-green);
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
}

.layout__main {
  padding: 0 2rem;
}

@media screen and (max-width: 768px) {
  .layout__main {
    padding: 0 1rem;
  }
}
